<html>

    <head>
        <title>Divide aí!</title>
        <link rel="stylesheet" href="/divide-ai-app/css/bootstrap.min.css">
        <script src="/divide-ai-app/js/bootstrap.min.js"></script>

        <style>
            .form-control {
                border-radius: 5px;
            }

            .btn-outline-secondary {
                color: #404040;
                border-color: #c7c7c7;
                border-radius: 20px;
            }

            .btn-outline-danger {
                border-radius: 20px;
            }
        </style>
    </head>

    <body class="bg-light">
        <div class="container w-50">

            <div class="py-5">
                <h1>Divide aí!</h1>
                <p class="lead">Uma ferramenta simples para dividir a conta</p>
            </div>

            <p class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}" id="message" />
            <form action="saveParticipante" method="post" th:object="${participante}">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Qual o nome?</label>
                    <div class="col-sm-12">
                        <input th:field="*{nome}" class="form-control" id="nome">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Salvar" class="col-md-12 btn btn-outline-secondary" id="saveButton">
                    </div>

                    <div class="col-md-6">
                        <a class="col-md-12 btn btn-outline-danger" th:href="@{/cancelarParticipante}">
                            Cancelar
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </body>

</html>
